h1 {
  margin: 6px;
  color: rgb(143, 209, 209);
}

.input {
  border-radius: 4px;
  padding: 4px;
  margin: 6px;
}

button {
  padding: 4px;
  margin-left: 6px;
  border-radius: 4px;
}

.list {
  border: black 10px;
  border-radius: 2px;
}
